{% extends "base_generic.html" %}

{% block title %}
Visualization - Heatmap
{% endblock %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/heatmap.css' %}">
{% endblock %}

{% block content %}


<script src="https://d3js.org/d3.v4.min.js" charset="utf-8"></script>
<script src="{% static 'javascript/heatmap.js' %}"></script>


<h1>Data visualization with d3.js</h1>
<h3>Heatmap</h3>

<p>On these pages, you can find some examples with data visualization, with the help
of the Javascript library d3.js. I learned this library on <a href = "https://www.freecodecamp.org/learn">Free Code Camp</a>, 
a great site for learning to code!</p>
<p></p>
<p>The third example is a scatter plot. This is the <a href =
"https://www.freecodecamp.org/learn/data-visualization/data-visualization-projects/visualize-data-with-a-heat-map">
third challenge on Free Code Camp</a>. </p>

<p>Challenges in this example are:</p>
<ul>
    <li>Getting the names of the months at the y-axix.</li>
    <li>Make cells in stead of bars.</li>
</ul>
<div id=container align="center"></div>
{% endblock %}